@import url('https://fonts.googleapis.com/css?family=Playfair+Display:500&display=swap');

.project-bubble {
    margin-top: 40px;
    background-color: rgb(194, 182, 160);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.project-bubble:hover{
    background-color: rgb(180, 167, 145);
}

.bubble-title {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    padding-top: 79px;
    text-align: center;
    color: white;
}